@charset "UTF-8";

* {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;

    --verde: #002D18;

    /* border: 1px red dashed; */
}

body {
    width: 100vw;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}


div.sales {
    height: 40px;

    color: var(--verde);
    display: flex;

    align-items: center;
    justify-content: center;

}

div.sales > a {
    color: var(--verde) ;
    text-decoration: none;
    margin-left: 4px;
}

div.sales > a:hover {
    text-decoration: underline;
}

header {
    background-color: #002D18;

    display: flex;
    align-items: center;
    justify-content: center;
}

section#nav-header {
    display: grid;
    grid-template-columns: 100px 1300px 200px;

    align-items: center;
    width: 1600px;
}

#idBuscar {
    width: 1300px;
    height: 35px;
    border-radius: 25px;
    border: none;
}

#labelBuscar {
    color: gray;
    position: absolute;
    left: 26vw;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -19px;

    width: 100vw;
    height: 50px;
    background-color: var(--verde);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1000px;
    height: 50px;
    margin: auto;

    background-color: var(--verde);

}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    padding: 0px 10px;
    color: white;
    background-color: #002D18;
    text-decoration: none;
    transition:.5s;
}

nav > a:hover {
    background-color: white;
    color: var(--verde);
    height: 50px;

}

#tipos {
    display: grid;
    grid-template-columns: repeat(6, 320px);
    width: 1920px;
}



.tipos > img {
    width: 320px;
}

.tipos > a {
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    text-decoration: none;
    font-size: 30px;

    width: 320px;
    height: 70px;

    position: absolute;
    text-align: center;
    padding-top: 143px;

}

.tipos > a:hover {
    background-color: rgba(255, 255, 255, 0.555);
    color: var(--verde);
    transition: 0.3s;
}

#poloNav{
    display: block;
    margin: auto;

    padding: 10px 0px 0px 0px;
    width: 1500px;

}

#poloNav > a {
    font-size: 18px;
    color: var(--verde);
    padding-right: 10px;
    text-decoration: none;
}

#poloNav > a:hover {
    text-decoration: underline;
}

#polos {
    display: flex;
    margin: auto;
    align-items: center;
    width: 1500px;
    height: 100px;
}

#polos > h1 {
    color: var(--verde);
    font-size: 50px;
}

#vitrine{
    display: grid;
    grid-template-columns: repeat(4, 450px);

    margin: 0px 60px;
    width: 1800px;
    height: 1000px;

}

.produto {
    width: 450px;
    height: 500px;

}

.foto{
    background-size: 450px 450px;
    width: 450px;
    height: 450px;

}

.foto > a {
    width: 450px;
    height: 450px;
}

.produto > a > .foto {
    width: 450px;
    height: 450px;

    overflow: hidden;

}

.etiqueta {
    width: 425px;
    height: 25px;

    font-size: 17px;
    padding-left: 25px;
    color: var(--verde);

    display: flex;
    align-items: center;
    justify-content: left;

}

.etiqueta > a {
    text-decoration: none;
    color: var(--verde);
}

.etiqueta > a:hover {
    text-decoration: underline;
}

.preco {
    width: 425px;
    height: 25px;

    font-size: 18px;
    padding-left: 25px;
    color: var(--verde);

    display: flex;
    align-items: center;
    justify-content: left;

}

#foto1 {
    background-image: url(images/vitrine/poloBlack/L1212_031_20.avif);
    transition:.5s;
}

#foto1:hover {
    background-image: url(images/vitrine/poloBlack/L1212_031_24.avif);


}

#foto2 {
    background-image: url(images/vitrine/poloWhite/L1212_001_20.avif);
    transition:.5s;
}

#foto2:hover {
    background-image: url(images/vitrine/poloWhite/L1212_001_24.avif);
}

#foto3 {
    background-image: url(images/vitrine/poloBlue/L1212_166_20.avif);
    transition:.5s;
}

#foto3:hover {
    background-image: url(images/vitrine/poloBlue/L1212_166_24.avif);
}

#foto4 {
    background-image: url(images/vitrine/poloGolfClassic/DH1093_YZP_20.avif);
    transition:.5s;
}

#foto4:hover {
    background-image: url(images/vitrine/poloGolfClassic/DH1093_YZP_24.avif);
}

#foto5 {
    background-image: url(images/vitrine/poloGolfClassicWhite/DH1093_70V_20.avif);
    transition:.5s;
}

#foto5:hover {
    background-image: url(images/vitrine/poloGolfClassicWhite/DH1093_70V_24.avif);
}

#foto6 {
    background-image: url(images/vitrine/poloGolfClubBlue/DH4611_JIK_24.avif);
}

#foto7{
    background-image: url(images/vitrine/poloPoliesterReciclado/DH5175_QBI_20.avif);
    transition:.5s;
}

#foto7:hover {
    background-image: url(images/vitrine/poloPoliesterReciclado/DH5175_QBI_24.avif);
}

#foto8 {
    background-image: url(images/vitrine/poloRegularFit/DH1082_MIQ_20.avif);
    transition:.5s;
}

#foto8:hover {
    background-image: url(images/vitrine/poloRegularFit/DH1082_MIQ_24.avif);
}

#infoLacoste {
    margin: 50px auto;
    padding: 30px;

    width: 1500px;
    height: 300px;

    color: var(--verde);
}

#infoLacoste > h1 {
    text-align: center;
    font-size: 20px;
}

#infoLacoste > p {
    text-align: center;
    font-size: 13px;
}

#infoLacoste > p > a {
    color: var(--verde);
}

footer {
    width: 1920px;
    height: 600px;

    background-color: var(--verde);
}

#gridFooter {
    width: 1400px;
    height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 350px);


}

.footerTop {
    display: block;
    margin: auto;
}

.footerTop > img {
    display: block;
    margin: auto;
}

.footerTop > p {
    color: white;
}

#gridMiddle {
    display: grid;
    grid-template-columns: 600px 1320px;
    border: 1px solid white;

}

#clubLacoste {
    width: 600px;
    height: 500px;


}

#club {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;

    height: 300px;

}

#club > p {
    color: white;
    padding: 15px;
    font-size: 14px;
}

#email {
    display: grid;
    grid-template-columns: 200px 400px;
    height: 100px;
    border: 1px solid white;
}

#emailText > p {
    color: white;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 100px;

}

#emailButton {
    display: inline-flex;
    border-left: 1px solid white;
}

#emailButton > label {
    top: 50%;
    left: -80%;
    transform: translate(-30%, -10%);
    position: relative;
    color: gray;
}

#idEmail {
    height: 95px;
    width: 350px;
    background-color: var(--verde);
    border: none;
}

#inscreverse > button{
    width: 600px;
    height: 97px;
}

#about {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    padding: 50px 0px;
    width: 1000px;
    height: 400px;
}

.sobre {
    display: block;

}

.sobre, .loja, .contato > h2 {
    color: white;
    padding: 10px 0px;
}

.sobre > a > p {
    padding: 7px 0px;
    font-size: 13px;
}

.sobre > a {
    color: white;
    text-decoration: none;
}

.sobre > a:hover {
    text-decoration: underline;
}

.loja > a > p {
    padding: 7px 0px;
    font-size: 13px;
}

.loja > a {
    color: white;
    text-decoration: none;
}

.loja > a:hover {
    text-decoration: underline;
}

.contato > p {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.contato > a > p {
    padding: 7px 0px;
    font-size: 15px;
}

.contato > a {
    color: white;
    text-decoration: none;
}

.contato > a:hover {
    text-decoration: underline;
}

.contato > a {
    color: white;
    text-decoration: none;
}

.redes > a {
    display: block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}

.redes > a:hover {
    text-decoration: underline;
}

#lacoste {
    font-size: 140px;
    color: white;
    width: 1920px;
    text-align: center;
    height: 400px;
    background-color: var(--verde);
}

#endereco {
    border-top: 1px solid white;
    background-color: var(--verde);
}

#divEndereco{
    padding: 10px;
    color: white;
    font-size: 12px;
    width: 700px;
    position: relative;
    left: 50%;
    text-align: justify;
}

#bottom {
    display: grid;
    grid-template-columns: 1200px 400px 150px ;
    width: 1750px;
    margin: auto;
    height: 80px;
}

.bottom1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom1 > a {
    text-decoration: none;
    color: var(--verde);
    padding: 0px 10px;
}

.bottom1 > a:hover {
    text-decoration: underline;
}

.bottom3{
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--verde);
}

.bottom3 > p {
    color: var(--verde);
    text-decoration: underline;
    padding-left: 10px;
}

#camisa {
    display: grid;
    grid-template-columns: 1000px 700px;

    width: 1700px;
    height: 800px;
    margin: auto;
}

.fotoCamisa {
    width: 1000px;
    height: 800px;

    overflow: hidden;

}

#descCamisa {
    margin-top: 50px;
    width: 700px;
    height: 300px;

    color: var(--verde);
}

#descCamisa > h1 {
    display: flex;
    align-items: center;
    height: 50px;
}

#descCamisa > p {
    display: flex;
    align-items: center;
    height: 30px;
}

#descCamisa > h2 {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 16px;
}

#caracteristicas {
    display: grid;
    grid-template-columns: 100px 300px 100px;

    align-items: center;
    width: 700px;
    height: 100px;
}

#caracteristicas > img {
    width: 75px;
    height: 75px;

    padding: 12.5px;
}

.linkCor {
    text-decoration: none;
    color: #002D18;
}

.cor {
    color: var(--verde);
}

.setinha {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    color: var(--verde);
    font-size: 20px;
}

#tamanho {
    display: grid;
    grid-template-columns: 400px 100px;

    width: 500px;
    height: 100px;

    border-top: 0.5px solid #002d184b;
    border-bottom: 0.5px solid #002d184b;
}

#tamanho > p {
    display: flex;
    align-items: center;
}

#addSacola {
    width: 500px;
    height: 50px;

    margin: 50px auto;
    border: 1px solid black;

    background-color: #008A20;
    color: white;

    transition: 0.5s;
}

#addSacola:hover {
    background-color: var(--verde);
    cursor: pointer;

}

.freteGratis {
    display: flex;
    align-items: center;

    color: var(--verde);
}

#descricao {
    display: grid;
    grid-template-columns: 650px 650px;
    width: 1300px;
    height: 515px;
    margin: 50px auto;

}

.desc1 {
    text-align: justify;

}

.desc1 > ul{
    padding-left: 20px;
    color: var(--verde);
}

.desc1 > h2 {
    font-size: 18px;
    color: var(--verde);
}

.desc1 > p {
    font-size: 14px;
    padding: 10px 0px;
    color: var(--verde);
}

.medidasModelo {
    color: var(--verde);
    font-size: 14px;

    padding: 25px 0px;
}

.medidasModelo > p {
    font-size: 16px;
    padding: 10px 0px;
}

#steps {
    width: 300px;
    height: 100px;  
    margin: 50px auto;
}

.passo-a-passo {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    width: 300px;
    height: 150px;

}

.passo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

}

.passo > span {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 50px;
}

.texto-passo {
    width: 100px;
    height: 50px;
}

/* MEDIA PARA TELEFONE */

@media (min-widht: 320px), (max-width: 700px){

    nav {
        display: none;
    }

    #tipos {
        display: grid;
        grid-template-columns: repeat(6, 200px);
        width: 375px;
        height: 206px;

        overflow-x: scroll;
    }

    #tipos::-webkit-scrollbar {
        display: none;
    }

    .tipos > img {
        width: 250px;
        height: 200px;
        background-position: center;
    }

    .tipos > a {
        width: 200px;
        height: 100px;

        padding-top: 100px;

    }

    #poloNav {
        width: 250px;
    }

    #polos {
        width: 300px;
    }

    #vitrine {

        margin: auto;
        width: 370px;
        height: 1220px;
        display: grid;
        grid-template-columns: repeat(2, 220px);
    }

    .produto {
        width: 175px;
        height: 245px;
    }

    .produto > a {
        width: 175px;
        height: 175px;
    }

    .produto > a > .foto {
        width: 175px;
        height: 175px;

    
        overflow: hidden;
    
    }

    .foto {
        background-size: 175px;
        width: 175px;
        height: 175px;

        background-repeat: no-repeat;
    }

    .etiqueta {
        width: 175px;
        height: 50px;
        
        font-size: 14px;
        padding-left: 5px;
        color: var(--verde);
    
        display: flex;
        align-items: center;
        justify-content: left;
    
        }

    .preco {
        width: 175px;
        height: 20px;

        font-size: 14px;
        padding-left: 5px;
        color: var(--verde);
    
        display: flex;
        align-items: center;
        justify-content: left;
    }

    #infoLacoste {
        margin: 20px auto;
    
        width: 250px;
        height: 300px;
        overflow-y: scroll;
    
        color: var(--verde);
    }

    #infoLacoste::-webkit-scrollbar {
        display: none;
    }
    
    #infoLacoste > h1 {
        text-align: center;
        font-size: 20px;
    }
    
    #infoLacoste > p {
        text-align: center;
        font-size: 13px;
    }
    
    #infoLacoste > p > a {
        color: var(--verde);
    }

    footer {
        width: 100vw;
        height: 960px;
    
        background-color: var(--verde);
    }
    
    #gridFooter {
        width: 300px;
        height: 250px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 150px);
    
    
    }
    
    .footerTop {
        width: 150px;
        display: block;
        margin: auto;
    }
    
    .footerTop > img {
        display: block;
        margin: auto;
    }
    
    .footerTop > p {
        color: white;
        text-align: center;
    }

    #gridMiddle {
        width: 100vw;
        height: 340px;
        display: grid;
        grid-template-columns: 374px 1320px;
        border: 1px solid white;
    
    }
    
    #clubLacoste {
        width: 100vw;
        height: 340px;
    }
    
    #club {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid white;
    
        width: 100vw;
        height: 150px;
    
    }
    
    #club > p {
        color: white;
        padding: 15px;
        font-size: 14px;
    }
    
    #email {
        display: grid;
        grid-template-columns: 200px 400px;
        height: 120px;
        border: 1px solid white;
    }
    
    #emailText > p {
        color: white;
        font-size: 20px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 200px;
        height: 100px;
    
    }
    
    #emailButton {
        display: inline-flex;
        border-left: 1px solid white;
    }
    
    #emailButton > label {
        top: 50%;
        left: -80%;
        transform: translate(-30%, -10%);
        position: relative;
        color: gray;
    }
    
    #idEmail {
        height: 95px;
        width: 350px;
        background-color: var(--verde);
        border: none;
    }
    
    #inscreverse > button{
        width: 100vw;
        height: 70px;
    }

    #lacoste {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: white;
        width: 100vw;
        height: 200px;
        background-color: var(--verde);
    }
    
    #endereco {
        width: 100vw;
        height: 100px;
        border-top: 1px solid white;
        background-color: var(--verde);
    }
    
    #divEndereco{
        margin: auto;
        color: white;
        font-size: 8px;
        width: 375px;
        left: -5%;
        text-align: justify;
    }
    
    #footerBottom {
        width: 100vw;
        background-color: white;
        height: 100px;
    }

    #bottom {
        display: grid;
        grid-template-columns: repeat(3, 150px);
        width: 500px;
        height: 80px;
        background-color: white;

    }
    
    .bottom1{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: auto;
        width: 350px;
        height: 80px;
    }
    
    .bottom1 > a {
        font-size: 10px;
        text-decoration: none;
        color: var(--verde);
        padding: 0px 5px;
    }
    
    .bottom1 > a:hover {
        text-decoration: underline;
    }

    .bottom2 {
        width: 105px;
        height: 80px;
    }
    
    .bottom3{
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: var(--verde);

        position: relative;
        right: 100%;
        transform: translate(133%, 0%);
    }
    
    .bottom3 > p {
        color: var(--verde);
        text-decoration: underline;
        padding-left: 10px;
    }

}